{
  "parser": "@babel/eslint-parser",
  "plugins": ["prettier"],
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-param-reassign": 0,
    "react/prop-types": 0,
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/webpack.config.dev.js"
      }
    }
  }
}
