# disable a linting rule by setting to zero
{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-undef": 0,
    "comma-dangle": 0,
    "react/prop-types": 0,
    "no-console": 0,
  }
}
