// fonts
$sansSerif = 'Source Sans Pro', sans-serif

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #777
$black = #222
$white = #FFF

html,
button,
input,
select,
textarea
  color: $black

body
  font-family: $sansSerif
  -webkit-font-smoothing: antialiased
  color: $black
  font-size: 10px
  line-height: 1.4
