@import url('https://fonts.googleapis.com/css?family=Source\+Sans\+Pro:400,600,700,900')
@import 'media'
@import 'globals'

html,
button,
input,
select,
textarea
  color: $black

body
  font-family: $sansSerif
  -webkit-font-smoothing: antialiased
  color: $black
  font-size: 10px
  line-height: 1.4
