$tabletWidth = 768px
$desktopWidth = 1024px

@media screen and (min-width: $tabletWidth)
  body, html
    font-size: 12px

@media screen and (min-width: $desktopWidth)
  body, html
    font-size: 14px
