.header
  font-size: 1.6em
  background: #ddd
  color: white
  padding: 1em

  display: flex
  justify-content: flex-end

.header__claim
  margin-right: auto

.menu
  user-select:none

.menu__item
  font-size: 1em
  float:left
  margin-left: .5em

  a
    color: white
    text-decoration: none

    &:hover
      color: darken(#fff,10%)
