header
  font-size: 1.6em
  background: #ddd
  color: white
  padding: 1em

  nav
    float:right
    user-select:none

  .nav-item
    font-size: 1em
    float:left
    margin-left:.5em

    a
      color: white
      text-decoration: none

      &:hover
        color: darken(#fff,10%)
